name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.6"
          channel: stable
          cache: true

      - name: Flutter version
        run: flutter --version

      - name: Enable Flutter Web
        run: flutter config --enable-web

      - name: Install dependencies
        run: |
          flutter pub get
          (cd domain && dart pub get)
          (cd data && dart pub get)

      - name: Run tests
        run: flutter test

      - name: Build Android APK
        run: flutter build apk --debug

      - name: Build Web
        run: flutter build web
